.images-column
  @extend .span6
  float: right

  @media screen and (max-width: 660px)
    float: none !important
    width: 100% !important
    h1
      font-size: 150%

.image
  float: left
  padding: 10px
  background: rgba($brown, 0.2)
  +border-radius(6px)
  position: relative

  &:before
    text-align: center
    padding-top: 3px
    font-family: $dosis-bold
    position: absolute
    top: -19px
    left: -20px
    background: rgba($brown, 0.2)
    width: 25px
    height: 22px
    +border-radius(50%)

  &.one, &.two, &.theree, &.four, &.five, &.six
    margin-top: 80px
    float: right
  &.one
    margin-top: 40px
    float: left
  &.two
    margin:
      left: 50px
    float: left
  &.three
    margin:
      top: 50px
      left: 50px
      bottom: 50px
  &.four
    margin:
      top: 40px
      right: 30px
  &.five
    margin-right: 50px
  &.six
    margin-right: 20px
